<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wyplata</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<div class="container mt-5 mb-5">
    <h3>Na koncie:</h3>
<h4>Wyplacić:</h4>
    <div th:each="el: ${deposits}">
        <form th:action="'/wyplata/'+ ${el.id}" method="post">
            <input type="number" placeholder="ilość" class="form-control"><br>
            <button class="btn btn-warning" type="submit">Wyplacić</button>
        </form>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>